.xposter {
  height: 29px;
  padding-left: 13px;
}

.xnetwork {
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 58px;
  height: 29px;
  cursor: pointer;
}

.xtwitter-up {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/twitter_up.png);
}

.xfacebook-up {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/facebook_up.png);
}

.xtwitter-down {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/twitter_down.png);
}

.xfacebook-down {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/facebook_down.png);
}